/* This targets the <app-root> wrapper that Angular generates */
:host {
  display: flex;
  flex-direction: column; 
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: auto;
}

.sidebar-content {
  width: 20%;
  height: 100%;
  border-right: 1px solid var(--sidebar-border-right-color);
  background-color: var(--bg-global);
}

.device-summary-content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  background-color: var(--bg-global);
}

