<div class="sidebar-container">
  <div id="dropdown-header" [class.allDeviceSelected]="isDropdownOpen()" (click)="toggleDropdown()">
    <span>All Devices</span>
    <span class="arrow" [class.open]="isDropdownOpen()">&#9662;</span>
  </div>

  @if (isDropdownOpen()) {
    <ul class="device-list">
      @for (device of deviceService.devices(); track device.id) {
        <li
          class="device-item"
          [class.selected]="deviceService.selectedDeviceName() === device.deviceName"
          (click)="selectDevice(device.deviceName)"
        >
          <span>{{ device.deviceName }}</span>
          @if (deviceService.loadingDeviceName() === device.deviceName) {
            <div class="spinner"></div>
          }
        </li>
      } @empty {
        <li class="no-device">No Device</li>
      }
    </ul>
  }
</div>
