/* Import the font from Google Fonts (Must be at the absolute top) */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');


:root {

  /* =========================================
     COMMON VARIABLES (Same for both themes)
     ========================================= */
  /* Header Action Buttons */
  --header-btn-bg: rgb(232, 228, 228);
  --header-btn-txt-color: black;
  --header-btn-border-color: rgb(89, 84, 84);
  --header-btn-hover-bg: rgb(255, 255, 255);

  /* Sidebar */
  --sidebar-allDevice-selected: rgba(211, 191, 191, 0.15);


  /* =========================================
     DARK MODE (DEFAULT)
     ========================================= */
  --bg-global: #121212;      /* All background should be dark */
  --bg-brand: purple;        /* Header & Accordion backgrounds */
  --text-main: white;        /* Sidebar text & general text */
  --text-title: white;       /* Project title text */

  /* Header Action Buttons */
  --header-btn-bg: rgb(232, 228, 228);
  --header-btn-txt-color: black;
  --header-btn-border-color: rgb(89, 84, 84);
  --header-btn-hover-bg: rgb(255, 255, 255);
  --header-border-bottom: white;


  /* Sidebar CSS variables */
  --sidebar-border-right-color: white;
  --sidebar-allDevice-selected: rgba(211, 191, 191, 0.15);
  
}

.light-theme {
  /* =========================================
     LIGHT MODE OVERRIDES
     ========================================= */
  --bg-global: white;        /* All background should be white */
  --bg-brand: blue;          /* Header & Accordion backgrounds */
  --text-main: black;        /* Sidebar text & general text */
  --text-title: white;       /* Project title text (Stays white) */
  
  /* Header Action Buttons */
  --header-btn-bg: rgb(232, 228, 228);
  --header-btn-txt-color: black;
  --header-btn-border-color: rgb(89, 84, 84);
  --header-btn-hover-bg: rgb(255, 255, 255);
  --header-border-bottom: black;

   /* Sidebar CSS variables */
  --sidebar-border-right-color: black;
  --sidebar-allDevice-selected: rgba(118, 109, 109, 0.15);
}

/* Apply the global background and text colors to the entire app */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Comic Neue', 'Chalkboard SE', 'Comic Sans MS', cursive;
  background-color: var(--bg-global);
  color: var(--text-main);
  
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

input, button, textarea, select {
  font-family: inherit;
}