<div class="device-summary-container">
  <div class="dropdown-deviceinfo" (click)="toggleDeviceInfo()">
    <span>Device Info</span>
    <span class="arrow" [class.open]="isDeviceInfoOpen()">&#9662;</span>
  </div>
  @if (isDeviceInfoOpen()) {
    <div class="device-info table-wrapper">
      <div class="table-scroll-container">
        <table class="device-table">
          <tbody>
            <tr>
              <th>ID</th>
              <td>{{ deviceSummary().device.deviceId }}</td>
            </tr>
            <tr>
              <th>Name</th>
              <td>{{ deviceSummary().device.deviceName }}</td>
            </tr>
            <tr>
              <th>Type</th>
              <td>{{ deviceSummary().device.deviceType }}</td>
            </tr>
            <tr>
              <th>Part Number</th>
              <td>{{ deviceSummary().device.partNumber }}</td>
            </tr>
            <tr>
              <th>Building Name</th>
              <td>{{ deviceSummary().device.buildingName }}</td>
            </tr>
            <tr>
              <th>No. of ShelfPositons</th>
              <td>{{ deviceSummary().device.noOfShelfPositions }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  }

  <div class="dropdown-shelfPositons" (click)="toggleShelfPositions()">
    <span>ShelfPositions</span>
    <span class="arrow" [class.open]="isShelfPositionsOpen()">&#9662;</span>
  </div>
  @if (isShelfPositionsOpen()) {
      <div class="accordion-content table-wrapper">
        
        <div class="shelfPositions-header">
          <span>Total shelf Positions : {{ deviceSummary().shelfPositions.length }}</span>
          <button class="action-btn">Add ShelfPosition</button>
        </div>

        <div class="table-scroll-container">
          <table class="shelfPositons-table">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Id</th>
                <th>Shelf Id</th>
                <th>Action on Shelf</th>
                <th>Action on ShelfPosition</th>
              </tr>
            </thead>
            <tbody>
              <!-- @for (shelf of shelfPositions(); track shelf.id; let i = $index) {
                <tr>
                  <td>{{ i + 1 }}.</td>
                  <td>{{ shelf.positionId }}</td>
                  <td>{{ shelf.shelfName ? shelf.shelfName : 'empty' }}</td>
                  
                  <td>
                    @if (shelf.shelfName) {
                      <button class="text-btn">Delete</button>
                    } @else {
                      <button class="text-btn">Add</button>
                    }
                  </td>
                  
                  <td><button class="text-btn">Delete</button></td>
                </tr>
              } -->
            </tbody>
          </table>
        </div>

      </div>
    }

</div>

<!-- <tbody>
              @for (shelf of shelfPositions(); track shelf.id; let i = $index) {
                <tr>
                  <td>{{ i + 1 }}.</td>
                  <td>{{ shelf.positionId }}</td>
                  <td>{{ shelf.shelfName ? shelf.shelfName : 'empty' }}</td>
                  
                  <td>
                    @if (shelf.shelfName) {
                      <button class="text-btn">Delete</button>
                    } @else {
                      <button class="text-btn">Add</button>
                    }
                  </td>
                  
                  <td><button class="text-btn">Delete</button></td>
                </tr>
              }
            </tbody> -->

<!-- <div class="sidebar-container">
  <div id="dropdown-header" (click)="toggleDropdown()">
    <span>All Devices</span>
    <span class="arrow" [class.open]="isDropdownOpen()">&#9662;</span>
  </div>

  @if (isDropdownOpen()) {
    <ul class="device-list">
      @for (device of devices(); track device.id) {
        <li
          class="device-item"
          [class.selected]="selectedDeviceId() === device.id"
          (click)="selectDevice(device.id)"
        >
          {{ device.name }}
        </li>
      } @empty {
        <li class="no-device">No Device</li>
      }
    </ul>
  }
</div> -->
